nav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  background-color: #e26;
  border-bottom: 1px solid #e43a73;
  box-shadow: 2px 2px 6px 2px #f0437d;
}

nav p {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.icons {
  color: #fff;
  font-size: 25px;
}

.right-icons {
  display: flex;
  gap: 10px;
  margin-left: 60px;
}
